/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: 'Courier New', Courier, monospace !important;
}

.login_page {
    background-color:#1f1a24;
    height: 100vh;
    color: white;
    font-weight: 400 !important;
}

.login_card {
    background-color: #1f1a24;
    border-radius: 5px;
    padding: 20px 0;
    -webkit-box-shadow: -1px 3px 15px -1px #000000; 
    box-shadow: -1px 3px 15px -1px #000000;
    color: white;
    font-weight: 400 !important;
}

.login_title {
    font-size: 24px;
    color: white;
    font-weight: 400 !important;
}

.login_subtitle {
    font-size: 14px;
    color: white;
    font-weight: 400 !important;
}